---
build_dir:       ~/BUILD

product_name:    manageiq
github_url:      https://github.com/ManageIQ
git_ref:         master
version:         11.0.0
release:         Kasparov
rpm:
  release:       0.1
  repo_name:

bundler_version: 2.1.4
