ansible-pylibssh>=0.2.0 # ansible/netcommon
awxkit # awx/awx
azure-cli-core>=2.64.0 # azure/azcollection
azure-common>=1.1.28 # azure/azcollection
azure-containerregistry>=1.2.0 # azure/azcollection
azure-core>=1.31.0 # azure/azcollection
azure-identity>=1.19.0 # azure/azcollection
azure-iot-hub>=2.6.1 # azure/azcollection
azure-keyvault>=4.2.0 # azure/azcollection
azure-mgmt-apimanagement>=4.0.1 # azure/azcollection
azure-mgmt-authorization>=4.0.0 # azure/azcollection
azure-mgmt-automation>=1.1.0b4 # azure/azcollection
azure-mgmt-batch>=17.3.0 # azure/azcollection
azure-mgmt-cdn>=13.1.1 # azure/azcollection
azure-mgmt-compute>=33.0.0 # azure/azcollection
azure-mgmt-containerinstance>=10.1.0 # azure/azcollection
azure-mgmt-containerregistry>=10.3.0 # azure/azcollection
azure-mgmt-containerservice>=32.1.0 # azure/azcollection
azure-mgmt-core>=1.4.0 # azure/azcollection
azure-mgmt-cosmosdb>=10.0.0b3 # azure/azcollection
azure-mgmt-datafactory>=9.0.0 # azure/azcollection
azure-mgmt-devtestlabs>=10.0.0b2 # azure/azcollection
azure-mgmt-dns>=8.1.0 # azure/azcollection
azure-mgmt-eventhub>=11.1.0 # azure/azcollection
azure-mgmt-hdinsight>=9.1.0b1 # azure/azcollection
azure-mgmt-iothub>=3.0.0 # azure/azcollection
azure-mgmt-keyvault>=10.3.1 # azure/azcollection
azure-mgmt-loganalytics>=13.0.0b7 # azure/azcollection
azure-mgmt-managedservices>=7.0.0b2 # azure/azcollection
azure-mgmt-managementgroups>=1.1.0b2 # azure/azcollection
azure-mgmt-marketplaceordering>=1.2.0b2 # azure/azcollection
azure-mgmt-monitor>=6.0.2 # azure/azcollection
azure-mgmt-network>=28.0.0 # azure/azcollection
azure-mgmt-notificationhubs>=8.1.0b1 # azure/azcollection
azure-mgmt-nspkg>=3.0.2 # azure/azcollection
azure-mgmt-privatedns>=1.1.0 # azure/azcollection
azure-mgmt-rdbms>=10.2.0b17 # azure/azcollection
azure-mgmt-recoveryservices>=3.0.0 # azure/azcollection
azure-mgmt-recoveryservicesbackup>=9.1.0 # azure/azcollection
azure-mgmt-redis>=14.4.0 # azure/azcollection
azure-mgmt-resource>=23.2.0 # azure/azcollection
azure-mgmt-resourcehealth>=1.0.0b6 # azure/azcollection
azure-mgmt-search>=9.2.0b2 # azure/azcollection
azure-mgmt-servicebus>=8.2.1 # azure/azcollection
azure-mgmt-sql>=4.0.0b19 # azure/azcollection
azure-mgmt-storage>=21.2.1 # azure/azcollection
azure-mgmt-trafficmanager>=1.1.0 # azure/azcollection
azure-mgmt-web>=7.3.1 # azure/azcollection
azure-nspkg>=3.0.2 # azure/azcollection
azure-storage-blob>=12.23.0b1 # azure/azcollection
boto3>=1.28.0 # amazon/aws, community/aws
botocore>=1.31.0 # amazon/aws, community/aws
cryptography>=36.0.0 # cisco/intersight
google-auth # google/cloud
google-cloud-storage # google/cloud
grpcio # ansible/netcommon
jsonpatch # kubernetes/core
jsonschema>=4.18.0 # ansible/utils
jxmlease # ansible/netcommon
kubernetes>=24.2.0 # kubernetes/core, community/okd
msgraph-sdk>=1.6.0 # azure/azcollection
ncclient # ansible/netcommon
netaddr>=0.10.1 # ansible/utils, azure/azcollection
openstacksdk>=1.0.0 # openstack/cloud
oras # azure/azcollection
ovirt-engine-sdk-python>=4.5.0 # ovirt/ovirt
ovirt-imageio # ovirt/ovirt
packaging # azure/azcollection
paramiko # ansible/netcommon
protobuf # ansible/netcommon
python-dateutil>=2.7.0 # awx/awx
pytz # awx/awx
pyvmomi>=8.0.3.0.1 # community/vmware
pywinrm # legacy
pyyaml # theforeman/foreman
requests-credssp # legacy
requests-kerberos # legacy
requests-oauthlib # community/okd, kubernetes/core
requests>=2.4.2 # theforeman/foreman, google/cloud
requests[security] # azure/azcollection
textfsm # ansible/utils
ttp # ansible/utils
vmware-vapi-common-client # community/vmware
vmware-vcenter # community/vmware
xmltodict # ansible/netcommon, ansible/utils, azure/azcollection
