aiohttp # vmware/vmware_rest
apache-libcloud==2.5.0
asn1crypto==0.24.0
azure-cli-core==2.0.35
azure-graphrbac==0.40.0
azure-keyvault==1.0.0a1
azure-mgmt-authorization==0.51.1
azure-mgmt-batch==5.0.1
azure-mgmt-cdn==3.0.0
azure-mgmt-compute==4.4.0
azure-mgmt-containerinstance==1.4.0
azure-mgmt-containerregistry==2.0.0
azure-mgmt-containerservice==4.4.0
azure-mgmt-cosmosdb==0.5.2
azure-mgmt-devtestlabs==3.0.0
azure-mgmt-dns==2.1.0
azure-mgmt-hdinsight==0.1.0
azure-mgmt-keyvault==1.1.0
azure-mgmt-loganalytics==0.2.0
azure-mgmt-marketplaceordering==0.1.0
azure-mgmt-monitor==0.5.2
azure-mgmt-network==2.3.0
azure-mgmt-nspkg==2.0.0
azure-mgmt-rdbms==1.4.1
azure-mgmt-redis==5.0.0
azure-mgmt-resource==2.1.0
azure-mgmt-servicebus==0.5.3
azure-mgmt-sql==0.10.0
azure-mgmt-storage==3.1.0
azure-mgmt-trafficmanager==0.50.0
azure-mgmt-web==0.41.0
azure-storage==0.35.1
backports.ssl-match-hostname==3.5.0.1
boto3>=1.18.0 # amazon/aws, community/aws
botocore>=1.21.0 # amazon/aws, community/aws
deprecation==2.0
google-auth==1.6.2
ipaddress==1.0.23
monotonic==1.4
ncclient==0.6.3
netaddr==0.7.19
openstacksdk==0.23.0
ovirt-engine-sdk-python==4.2.4
pexpect==4.6.0
psutil==5.6.6 # Match the version installed directly into the venv
pykerberos==1.2.1
pyvmomi>=6.7.1 # community/vmware
pywinrm==0.3.0
requests==2.25.1
requests-credssp==0.1.0
requests-kerberos==0.14.0
git>= https://github.com/vmware/vsphere-automation-sdk-python.git # community/vmware
